@model MVC_study.Models.FormModel
@{
    ViewData["Title"] = "Form1";

}


<div class="text-left">
    <h1 class="display-4">Dane z formularza:</h1>
    @Html.DisplayNameFor(model => model.Name):         <b> @Html.DisplayFor(model => model.Name)</b>
    <br />
    @Html.DisplayNameFor(model => model.Date):   <b>@Html.DisplayFor(model => model.Date)</b>
    <br />
    <p>Ile dni upłynęło od twoich urodzin?:  <b>@ViewBag.LeftDays</b></p>
    <br />
    <p>Czy rok twoich urodzin był rokiem przestępnym? <b> @ViewBag.leapYear </b> </p>

</div>
<br />
<a href="/form1.html">Powrót do Form1 (HTML)</a>
<br />
<a asp-action="Form2">Powrót do Form2 (Razor)</a>